@{
    var isArabic = Html.IsRtl();
}
<div class="dropdown-divider"></div>
<form asp-controller="Culture" asp-action="SetCulture" asp-area="" method="post" class="m-0">
    @Html.AntiForgeryToken()
    <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
    @if (isArabic)
    {
        <input type="hidden" name="culture" value="en" />
        <button type="submit" class="dropdown-item d-flex align-items-center gap-2 py-2">
            <i class="feather-globe"></i>
            <span>English</span>
            <small class="@(isArabic ? "me-auto" : "ms-auto") text-muted">EN</small>
        </button>
    }
    else
    {
        <input type="hidden" name="culture" value="ar" />
        <button type="submit" class="dropdown-item d-flex align-items-center gap-2 py-2">
            <i class="feather-globe"></i>
            <span>العربية</span>
            <small class="ms-auto text-muted">AR</small>
        </button>
    }
</form>
