@{
    ViewData["Title"] = Html.T("الصفحة الرئيسية", "Home Page");
}

<div class="text-center">
    <h1 class="display-4">@Html.T("مرحباً بك", "Welcome")</h1>
    <p>@Html.T("تعرف على", "Learn about") <a href="https://learn.microsoft.com/aspnet/core">@Html.T("بناء تطبيقات الويب باستخدام ASP.NET Core", "building Web apps with ASP.NET Core")</a>.</p>
</div>
