@{
    ViewData["Title"] = Html.T("سياسة الخصوصية", "Privacy Policy");
}
<h1>@ViewData["Title"]</h1>

<p>@Html.T("استخدم هذه الصفحة لتفصيل سياسة الخصوصية الخاصة بموقعك.", "Use this page to detail your site's privacy policy.")</p>
